* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: black;
}

.slider-container {
  margin: 0 auto;
  margin-top: 5vh;
  width: 80%;
  height: 70vh;
  border: 2px black solid;
  overflow: hidden;
}

input[name="radio-input"] {
  visibility: hidden;
  display: none;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
  position: relative;
}

.slide {
  width: 20%;
  height: 85%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.img1 {
  background-image: url("./1.jpg");
}
.img2 {
  background-image: url("./2.jpg");
}
.img3 {
  background-image: url("./3.jpg");
}
.img4 {
  background-image: url("./4.jpg");
}
.img5 {
  background-image: url("./5.webp");
}

.controls-container {
  width: 80%;
  margin: 0 auto;
  height: 5vh;
  margin-top: -7vh;
  display: flex;
  justify-content: flex-end;
}

.controls {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 3;
}

.control {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s all;
}

.control-button {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid cornflowerblue;
  background-color: cornflowerblue;
  transition: 0.3s ease-in-out;
}

.control:hover {
  border-color: white;
}

#slide-1:checked ~ .controls-container > .controls label:nth-child(1) > .control-button,
#slide-2:checked ~ .controls-container > .controls label:nth-child(2) > .control-button,
#slide-3:checked ~ .controls-container > .controls label:nth-child(3) > .control-button,
#slide-4:checked ~ .controls-container > .controls label:nth-child(4) > .control-button,
#slide-5:checked ~ .controls-container > .controls label:nth-child(5) > .control-button {
  border: 2px solid cornflowerblue;
  background-color: black;
}

#slide-1:checked ~ .controls-container > .controls label:nth-child(1) > .control-button:hover,
#slide-2:checked ~ .controls-container > .controls label:nth-child(2) > .control-button:hover,
#slide-3:checked ~ .controls-container > .controls label:nth-child(3) > .control-button:hover,
#slide-4:checked ~ .controls-container > .controls label:nth-child(4) > .control-button:hover,
#slide-5:checked ~ .controls-container > .controls label:nth-child(5) > .control-button:hover {
  border: 2px solid white;
  background-color: black;
}

#slide-1 ~ .controls-container > .controls label:nth-child(1) > .control-button:hover,
#slide-2 ~ .controls-container > .controls label:nth-child(2) > .control-button:hover,
#slide-3 ~ .controls-container > .controls label:nth-child(3) > .control-button:hover,
#slide-4 ~ .controls-container > .controls label:nth-child(4) > .control-button:hover,
#slide-5 ~ .controls-container > .controls label:nth-child(5) > .control-button:hover {
  border: 2px solid white;
  background-color: white;
}

#slide-1 ~ .slides > .img1 {
  transition: 0.3s all;
  transform: translateX(-100%);
}

#slide-1:checked ~ .slides > .img1 {
  transition: 0.3s all;
  transform: translateX(0%);
  animation: img infinite;
}

#slide-2:checked ~ .slides > .img2 {
  transition: 0.3s all;
  transform: translateX(-100%);
  animation: img infinite;
}

#slide-3:checked ~ .slides > .img3 {
  transition: 0.3s all;
  transform: translateX(-200%);
  animation: img infinite;
}

#slide-4:checked ~ .slides > .img4 {
  transition: 0.3s all;
  transform: translateX(-300%);
  animation: img infinite;
}

#slide-5:checked ~ .slides > .img5 {
  transition: 0.3s all;
  transform: translateX(-400%);
  animation: img infinite;
}

.text {
  font-size: 2rem;
  position: relative;
  width: 100%;
  color: white;
  text-align: left;
  top: 105%;
}

@keyframes img {
  from,
  to {
    opacity: 0;
  }

  25%,
  75% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
